<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/naturalprogrammer-spring-sample/src/main/java/com/naturalprogrammer/spring/sample/NaturalprogrammerSpringSampleApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.naturalprogrammer.spring.sample.NaturalprogrammerSpringSampleApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--debug"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="naturalprogrammer-spring-sample"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenSourcePathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.egd=file:/dev/./urandom &#10;-Dspring.liveBeansView.mbeanDomain&#10;-Dcom.sun.management.jmxremote&#10;-Dcom.sun.management.jmxremote.port=56255&#10;-javaagent:/home/keertiraj/tmp/springloaded-1.2.3.RELEASE.jar -noverify"/>
<stringAttribute key="process_factory_id" value="org.springframework.ide.eclipse.boot.launch.process.BootProcessFactory"/>
<booleanAttribute key="spring.boot.debug.enable" value="false"/>
<booleanAttribute key="spring.boot.lifecycle.enable" value="true"/>
<stringAttribute key="spring.boot.lifecycle.termination.timeout" value="15000"/>
<booleanAttribute key="spring.boot.livebean.enable" value="true"/>
<stringAttribute key="spring.boot.livebean.port" value="14134"/>
<stringAttribute key="spring.boot.profile" value=""/>
</launchConfiguration>
